@import url('https://fonts.cdnfonts.com/css/product-sans');

body{
    font-family: 'Product Sans', sans-serif;
    text-align: center;
}

#blue{
    color: #4285F4;
}
#red{
    color: #DB4437;
}
#yellow{
    color:#F4B400;
}
#green{
    color: #0F9D58;
}

h1{
    font-size: 150px;
    text-align: center;
    margin-top: 250px;
}
header, a{
    text-align: right;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
}
/* header, a:hover{
    text-decoration-line: underline;
} */
#search{
    height: 20px;
    width: 600px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: -70px;
    padding: 5px;
    border-radius: 40px;
    border: 2px solid rgb(218, 221, 225);
    text-align: left;
    padding-left: 20px;
}
button{
    margin: auto;
    text-align: center;
    background-color: rgb(247, 248, 249);
    box-shadow: none;
    border: none;
    height: 30px;
    margin-left: 10px;
}

button:hover{
    border: 1px rgb(213, 215, 220) solid;
    box-shadow: 20px;
}
button, a{
    color: black;
    font-size: 15px;
}

#lucky {
    max-width: fit-content;
    margin: auto;
    text-align: center;
    border-radius: none;
    height: 30px;
    padding-right: 10px;
    padding-left: -20px;
}

header>h1 {
    font-size: 25px;
    text-align: left;
    margin-top: auto;
}

#image{
    margin-top: 100px;
}

#search_fields{
    border-radius: 0;
}
form{
    border: none;
}

#google_images{
    max-width: 600px;
    margin-top: 200px;
    margin-bottom: 100px;
}

/* Footer */

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(240, 240, 240);
    color: rgb(101, 106, 111);
    text-align: center;
    display: flex;
}

#footer_right{
    text-align: right;
}

#footer_center{
    text-align: center;
}

/* Footer Dropup menu */
/* Dropup Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropup */
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropup links on hover */
  .dropup-content a:hover {background-color: #ddd}
  
  /* Show the dropup menu on hover */
  .dropup:hover .dropup-content {
    display: block;
  }
  
  /* Change the background color of the dropup button when the dropup content is shown */
  .dropup:hover .dropbtn {
    background-color: #2980B9;
  }

